@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:border-gray-900 group-hover:dark:border-gray-800;
  }
}